.home {
  text-align: center;
  &__title {
    margin-bottom: 1rem;
  }

  &__subtitle {
  }

  &__list {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__item {
    text-align: left;
    list-style-type: none;
  }

  &__button {
    margin-top: 2rem;
    padding: 1rem;
    cursor: pointer;
  }
}
