.home {
  text-align: center;
  &__title {
    font-size: 2rem;
    background-color: var(--primary);
    background-image: linear-gradient(
      to right,
      var(--primary),
      var(--secondary)
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 1rem;
  }

  &__subtitle {
    color: var(--primary);
    font-size: 1.3rem;
  }

  &__list {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__item {
    text-align: left;
    list-style-type: none;
  }

  &__button {
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--primary);
    border: 1px solid var(--primary);
    margin-top: 2rem;
    padding: 1.3rem;
    cursor: pointer;
  }
}
