.question {
  padding: 1rem;
  margin-bottom: 4rem;
  &__title {
    color: var(--primary);
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
  }
}
