:root {
  --primary: #f3ec78;
  --secondary: #af4261;
  --white: #fff;
  --gray: #9b9b9b;
}

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: #222222;
  color: var(--secondary);
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 2rem;
}

.navigation {
  color: #fff;
  &__links {
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 1.5rem;
  }
  &__name {
    width: 10rem;
    border: 1px solid currentColor;
    padding: 2rem;
    background-color: var(--primary);
    background-image: linear-gradient(
      to right,
      var(--secondary),
      var(--primary)
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  &__title {
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  a {
    color: var(--secondary);
    text-transform: uppercase;
    text-decoration: none;
  }
}
